* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
}

.container::after {
  clear: both;
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
  display: table;
  content: "";
}

.section-list-films {
  background-color: #3f3f3f;
}

.section-list-films .list-films {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0px;
}

.section-list-films .list-films .single-film {
  flex-basis: 140px;
  margin: 20px;
}

.section-list-films .list-films .single-film .img-film {
  width: 170px;
  height: 170px;
}

.section-list-films .list-films .single-film .img-film img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.section-list-films .list-films .single-film a {
  text-decoration: none;
}

.section-list-films .list-films .single-film p {
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  padding: 10px 0px;
}

.section-dettagli .info-film .dettagli-film {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.section-dettagli .info-film .dettagli-film h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 20px;
}

.section-dettagli .info-film .dettagli-film p {
  font-size: 1.1em;
  padding: 10px;
}

header {
  border-bottom: 1px solid lightgrey;
  padding: 10px 0px;
}

.navbar {
  width: 100%;
  height: 100px;
}

.logo-page {
  width: 20%;
  height: 100%;
  float: left;
}

.logo-page img {
  height: 100%;
}

.navbar-links {
  width: 70%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links ul li {
  margin: 0px 10px;
  list-style-type: none;
}

.navbar-links ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #464646;
  font-weight: bolder;
}

.search-bar {
  height: 100%;
  width: 10%;
  float: left;
}

.footer-top {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
}

.footer-top .footer-top-container {
  background-image: url("/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 35px 0px;
}

.footer-top .footer-top-container .footer-top-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-top .footer-top-container .footer-top-content .footer-top-links .footer-top-links-title {
  color: white;
  font-size: 1.2em;
  margin-bottom: 18px;
}

.footer-top .footer-top-container .footer-top-content .footer-top-links ul {
  list-style-type: none;
  margin-right: 23px;
  margin-bottom: 15px;
}

.footer-top .footer-top-container .footer-top-content .footer-top-links ul li {
  margin: 5px 0;
}

.footer-top .footer-top-container .footer-top-content .footer-top-links ul li a {
  color: grey;
  font-size: 0.9em;
  text-decoration: none;
}

.footer-top .footer-top-cookies p {
  color: grey;
  font-size: 12px;
  margin: 0;
}

.footer-top .footer-top-cookies p a {
  color: #13538F;
  text-decoration: none;
}

.footer-bottom {
  background: #303030;
  padding: 25px 0px;
}

.footer-bottom .footer-bottom-left a {
  color: white;
  font-size: 1.6em;
  border: 2px solid #0282F9;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-bottom .footer-bottom-left,
.footer-bottom .footer-bottom-right {
  float: left;
  width: 50%;
}

.footer-bottom .section-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-bottom .section-contacts h4 {
  color: white;
  text-transform: uppercase;
}

.footer-bottom .section-contacts .links-contatcs {
  color: #0282F9;
  font-size: 1.4em;
  line-height: 50px;
}

.footer-bottom .section-contacts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-bottom .section-contacts ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer-bottom .section-contacts ul li.facebook {
  background-image: url("/images/footer-facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-bottom .section-contacts ul li.twitter {
  background-image: url("/images/footer-twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-bottom .section-contacts ul li.youtube {
  background-image: url("/images/footer-youtube.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-bottom .section-contacts ul li.pinterest {
  background-image: url("/images/footer-pinterest.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-bottom .section-contacts ul li.periscope {
  background-image: url("/images/footer-periscope.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-bottom .section-contacts ul a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

